<p style="color: green"><%= notice %></p>

<h1>Entries</h1>
<%= render(Entry::ListComponent.new(entries: @entries)) %>

<section class="sample-sortable">
<h3>Sample Sortable.js</h3>
# views/welcome/index.html.erb
<ul data-controller="sortable">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
  <li>Item 4</li>
</ul>
</section>

<%= link_to "New entry", new_entry_path %>
